## mako
<%page expression_filter="h"/>
<%inherit file="main.html" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
  integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
  integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous"></script>
  <%!
  from django.utils.translation import ugettext as _
  import json
  from openedx.features.user_programs.enums import ProgramPaceChoice
  %>
<%block name="pagetitle">${_("Create Bulk Users")}</%block>
<style>
  td, span{
    user-select: text;
  }
</style>
<div class="row">
  <div class="col-md-12" style="height: unset;">
    <label>Users :</label>
    <textarea id="user_json" name = "user_json"rows="300" cols="100"></textarea>
    Email Verification : <input type="checkbox" id="is_email">
  </div>
  <div class="col-md-12">Example : <span>[ { "username" : "__username__" , "name": "__name__" , "password" : "__password__" , "email" : "__email__" } ]</span></div>
  <br/><br/><br/>
  <div class="col-md-6"></div>
  <div class="col-md-4">
    <input type="button" class="btn btn-default btn-primary" id="create" value="Create"/>
  </div>
</div>
<h3>Results</h3>
<table class="table table-hover table-striped timed_exams_grid">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Record</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody id="body_result">
  </tbody>
</table>


<script>
  $('#create').on('click', function(){
    $.post("/bulk_create",
      {
        data: $("#user_json").val(),	
        is_email : $('#is_email').prop('checked'),
        csrfmiddlewaretoken : '${ csrf_token }'
      },
      function(data, status){
        if(data.success){
          $('#body_result').html('')
          for(let i=0;i<data.result_status.length;i++){
            $('#body_result').append('<tr><td>'+data.result_status[i].record+'</td><td>'+data.result_status[i].result+'</td></tr>')
          }
        }
      }
    );
  })
</script>