<%!
import json
%>
<style type="text/css">
    .fullscreenFrame{
        position:fixed !important;
        top:0;
        left:0;
        bottom:0;
        right:0;
        width:100%;
        height:100%;
        border:none;
        margin:0;
        padding:0;
        overflow:hidden;
        z-index:999999;
    }
    .fullscreenbutton{
        color: black;
        background:rgb(200,200,200,0.5);
        border:none;
        border-bottom-left-radius: 25px;
        background-image: unset;
        font-weight: 100;
        font-size: 14px;
        padding:4px 10px;
        position: absolute;;
        box-shadow: none;
        top:-1px;
        right:1px;
        z-index:9;
    }
    .fullscreenbutton:focus{
        outline: none;
    }
    #editor {
        position: relative;
        height:100%;
        border: #bbaa solid 1px;

    }
    .code-container{
        height:calc(100vh);
        display: flex;
        flex-direction: column;
        /*margin-top: -2em;*/
        width:100%
    }

    .code-header{
        text-align: right;
        padding:10px;
    }

    .code-body{
        display: flex;
        flex-direction: row;
        flex:1;
    }
    .code-statement-con{
        flex:1;
        padding:5px;
        margin-right: 10px;
        box-shadow: 2px 2px 2px 2px #bbbbbb;
    }

    .code-editor-con{
        flex:2;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        padding: 0.2%;
        box-shadow: 2px -2px 6px lightgrey;
    }

    .code-editor-form{
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
    }

    .code-editor{
        flex:1;
    }
    .code-title{
        font-weight: bold;
        margin-bottom: 10px;
    }

    .code-description{
        font-size: 0.8em;
    }

    .my-code-editor {
        height: 100%;
        width:100%;
    }

    .test-case-con{
        display: flex;
        flex-direction: row;
    }

    .output-terminal{
        padding:10px;
        background: black;
        flex:1;
        color:#ffffff;
        font-size: 0.7em;
        width: 100%;
        overflow-x: auto;
        transition: max-height 0.15s ease-out;
    }
    .code-footer {
        padding-left: 1%;
    }
    .code-testcase{
        display: flex;
        flex-direction: column;
        height:150px;
        padding-top: 0px;
        width:100%;
        padding: 0px 7px 7px;
        background-color: rgba(180, 180, 180, 0.8);
    }

    .modal-body{
        font-size: 0.8em;
    }

    .loading{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form label {
        display: inline !important;
    }
    .btn {
    border: 1px solid #d2c9c9;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #fff;
	color: #333;
	display: inline-block;
	font-size: inherit;
	font-weight: bold;
	background-color: #f1f1f1;
	background-image: -webkit-linear-gradient(#f1f1f1,#d9d1d1);
	background-image: linear-gradient(#f1f1f1,#d9d1d1);
	padding: 7px 18px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fcfbfb;
	background-clip: padding-box;
	font-size: 0.8125em;

    }
    .btn:hover {
    border: 1px solid #d2c9c9;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #fff;
	color: #333;
    }

    .code-editor-form label{
        color: #3277a8e8;
        font-weight: bold;
    }

    .scrolbar::-webkit-scrollbar {
        width: 6px;
        height: 55px;
        border-radius: 10%;
      }

      /* Track */
      .scrolbar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
      }

      /* Handle */
      .scrolbar::-webkit-scrollbar-thumb {
        background:#3277a8e8;
        border-radius: 10px;
      }

      /* Handle on hover */
      .scrolbar::-webkit-scrollbar-thumb:hover {
        background: #555;
      }


      .editorLable:focus{
        outline: 0;
        box-shadow: 0 0 5px blue;
      }

      .xblock p{
        color: #444;
        font-size: 14px !important;
      }
      .editorLable{
        margin-right: 10px;
        background-color:snow ;
        border-color: #3277a8e8 ;
        border-radius: 20px;
        font-size: 0.8rem;
        padding: 4px;
      }
      .result_table th{
          text-decoration: underline;
          padding-top: 10px;
          padding-right: 20px;
      }
      .result_table td{
          padding-right: 20px;
      }
      .devops_hint{
          display:none;
      }
      .devops_answer{
          display: none;
      }
    .btn-gradient{
        background-image: none;
        background-color: rgba(180, 180, 180, 0.8);
        font-size: 14px;
        height: 22px;
        padding: 0px 10px;
        font-weight: 800;
        cursor: pointer;
        margin-top: 5px;
        border-radius: 5px 5px 0px 0px;
    }
    .btn-gradient :active{
        margin:0.1px 1px;
    }
    #hide-show-icon{
        font-size: 20px;
    }

    #outputTerminal.fullscreen{
        z-index: 9999;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

    #toggleTerminal.togglepadding{
        margin-top: 0px;
    }

    #outputScreen.fulloutscreen{
        z-index: 9999;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
    }

    #toggleOutputSize {
        color: black;
        background: rgb(200,200,200,0.5);
        border: none;
        border-bottom-left-radius: 25px;
        background-image: unset;
        font-weight: 100;
        font-size: 14px;
        padding: 1px 3px;
        position: relative;
        box-shadow: none;
        float: right;
        z-index: 9;
    }

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
    <div class="code-container">
        <div class="code-body">
            <div class="code-editor-con">
                <button id="toggleEditorSize" class="fullscreenbutton" title="Expand Editor">
                    <i class="fa fa-expand"  aria-hidden="true"></i>
                </button>
                <form class="code-editor-form mt-6">
                    <div class="form-group col-md-12 row" style="margin-bottom: 5px;">
                        <div class="col-md-4">
                            <label style="margin-right: 5px;font-size: 14px;">Editor Theme: </label>
                            <select id="themeChange" class="editorLable" name="editorTheme" style="width:8Vw;">
                                <option value ="monokai">Dark Mode</option>
                                <option value ="sqlserver">Light Mode</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label style="margin-right: 5px;font-size: 14px;">Language: </label>
                            <select id="languageChange" class="editorLable" name="language" style="width:8Vw ;">
                                    <!-- <option style=" color:#3277a8e8;" value =""></option>              -->
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label style="margin-right: 5px;font-size: 14px;">Font Size: </label>
                            <select id="fontChange" class="editorLable" name="editorTheme" style="width:8Vw;">
                                <option value ="12">Small</option>
                                <option selected value ="14">Medium</option>
                                <option value ="18">Large</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div data-intro="Timer" data-position="left">
                        {{currentTime}}
                    </div> -->
                </form>


                <div class="code-editor" data-intro="Code console" data-position="left" style="margin-bottom:10px;position:relative;">
                    <div  id="editor">
                    </div>
                </div>
                <div class="code-footer">
                    <input class="code_run_ele run_default" data-intro="Enter custom input here" data-position="left" type="text" placeholder="Input"  style="font-size: 0.8em;"/>

                    <button id="runBtn" data-intro="Click here to Run custom inputs" data-position="left" class="code_run_ele run_default run_database btn btn-sm btn-info" style="margin-right: 5px;">
                        <i class="fa fa-play" aria-hidden="true" style="margin-right: 5px;"></i>Run
                    </button>

                    <button id="previewBtn" data-intro="Click here to preview" data-position="left" class="code_run_ele run_frontend btn btn-sm btn-info" style="margin-right: 5px;">
                        <i class="fa fa-eye" aria-hidden="true" style="margin-right: 5px;"></i>Preview
                    </button>


                    <button id="saveBtn" style="float:right;margin-right:10px;color: #fff; background-color:#eb931a; border-color: #eb931a; box-shadow: inset 0 1px 0 0 #eb931a; background-image: unset; font-weight: 400; " data-disable-interaction="true" data-position="left" data-position="left" data-intro="Click here to save the code" " class="btn btn-sm btn-primary">Save - Q<span id="saveCodingQuestionNumber">1</span></button>
                    <!--<button id="evalBtn" style="float:right;margin-right:10px;color: #fff; background-color: #28a745; border-color: #28a745; box-shadow: inset 0 1px 0 0 #28a745; background-image: unset; font-weight: 400; " data-disable-interaction="true" data-position="left" data-position="left" data-intro="Click here to submit the code" title="Once submitted, you cannot change." class="code_run_ele run_default run_database btn btn-sm btn-success">Submit</button> -->
                    <!-- <button id="submitBtn" style="float:right;margin-right:10px;color: #fff; background-color: #28a745; border-color: #28a745; box-shadow: inset 0 1px 0 0 #28a745; background-image: unset; font-weight: 400;" data-disable-interaction="true" data-position="left" data-position="left" data-intro="Click here to submit the code" title="Once submitted, you cannot change." class="btn btn-sm btn-success">Submit - Q<span id="submitCodingQuestionNumber">1</span></button> -->

                    <button id="toggleHint" data-intro="Click here to Run custom inputs" data-position="left" class=" code_run_ele run_devops btn btn-sm btn-info" style="margin-right: 5px;">
                        Show Hint
                    </button>
                    <button id="toggleAnswer" data-intro="Click here to Run custom inputs" data-position="left" class=" code_run_ele run_devops btn btn-sm btn-info" style="margin-right: 5px;">
                        Show Answer
                    </button>

                    <span id="savingMsg" style="margin-left:2%;display: none;color: darkgray;">Saving....</span>
                    <span id="savedMsg"  style="margin-left:2%; display: none;color:#eb931a">Code Saved successfully..</span>
                    <span id="submittingMsg" style="margin-left:2%;display: none;color: darkgray;">Submitting....</span>
                    <span id="submittedMsg"  style="margin-left:2%; display: none;color:#28a745">Code Submitted successfully..</span>
                </div>
                <div id="outputTerminal" class="OutputTerminal">
                    <div id="toggleTerminal" class="code_run_ele run_default run_database btn-gradient">
                        <span>Output Window</span>
                        <button id="toggleOutputSize" class="" title="Expand Output Screen">
                            <i class="fa fa-expand"  aria-hidden="true"></i>
                        </button>
                    </div>
                    <div id="outputScreen" class="code-testcase code_run_ele run_default run_database">
                        <div id="outputScreenFull" class="output-terminal code_run_ele run_default run_database" style="white-space: pre-line" data-intro="Output terminal" data-position="left">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="snippetid" data-snippet-id="" style="display: none;"></div>
</div>
<div class='outline_element' style="position: fixed;width: 100%;height: 100%;top:0;left:0;display:none;z-index: 1000000;background-color: white;">
    <button id="close-preview" class="fullscreenbutton" title="Close Preview">
        <i class="fa fa-times" aria-hidden="true" style="margin-right: 5px;font-size: 16px;font-weight: 400;"></i>
    </button>
    <!-- <center style="width: 100%;position: absolute;">
        <span style="font-size:30px;color:rgb(201,201,201);margin-top: 15%;">This is the HTML Preview Window.<br/> Click on the <i class="fa fa-times" aria-hidden="true"></i> icon to exit.</span>
    </center> -->

    <iframe id="result-Window" src="about:blank" style="width: 100%;height: 100%;"></iframe>
</div>

<script>

    document.getElementsByClassName("nav-bar-item-title-name").onclick = function() {
        codingQuestion = $("li.active")[0].outerText;
        document.getElementById("saveCodingQuestionNumber").innerHTML = codingQuestion;
        document.getElementById("submitCodingQuestionNumber").innerHTML = codingQuestion;
    }

    $('#toggleOutputSize').click(function() {
        $('#outputTerminal').toggleClass('fullscreen');
        $('#outputScreen').toggleClass('fulloutscreen');
        $('#toggleTerminal').toggleClass('togglepadding');
    });

    // Auto Save snippet
    document.addEventListener("DOMContentLoaded", () => {
        setInterval(() => {
            $( "#saveBtn" ).click();
        }, 60000);
    });

    let Code_Editor = new function(){
        const ACE_URL1 = "https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.js",
            ACE_URL2 = "https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ext-language_tools.min.js";
        let copy_Paste_Methods = {
            onCopy : null,
            onPaste : null,
            onCut : null,
            getCopyText : null
        };

        let _Loader = {

            $loading : $('.loader').show(),
            $CodeeditorDiv : $('.assessment-sec').hide(),

            _show : function(){
                _Loader.$loading.show();
                _Loader.$CodeeditorDiv.hide();
            },
            _hide : function(){
                _Loader.$loading.hide();
                _Loader.$CodeeditorDiv.show();
            }
        }

        let _Editor_Activity = {
            editor : null,
            last_Selected_Language:0, current_Selected_Language:0,
            _setUpDevOpsLangs : function(){
                let DevopsLanguageModes= ["https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-groovy.min.js","https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-yaml.min.js",
                                        "https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-powershell.min.js","https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-sh.min.js"]

                DevopsLanguageModes.forEach((url)=> {
                    jQuery.loadScript = function (url, callback) {
                        jQuery.ajax({
                            url: url,
                            dataType: 'script',
                            success: callback,
                            async: true
                        });
                    }
                })
            },

            _set_Editor : function(){
                let questionlist=[];
                $('#themeChange').val('monokai');
                _Editor_Activity.editor.setTheme("ace/theme/"+'monokai');
                _Editor_Activity.editor.setOptions({
                    fontSize: "14px",
                    enableBasicAutocompletion: true,
                    enableSnippets: true,
                    enableLiveAutocompletion: true
                });
                $('.output-terminal').html("<div>Output Window<div>");
            },

            _update_Settings : function(codeArray, enable_run, enable_copy_paste, lang_type, allow_main){
                _Editor_Activity.last_Selected_Language=0;
                _Editor_Activity.current_Selected_Language=0;

                // Re-configiure code editor
                _Editor_Activity.editor.setShowPrintMargin(false);
                _Editor_Activity.editor.session.setMode("ace/mode/"+codeArray[0].syntaxhighlightName);
                if(allow_main){
                    _Editor_Activity.editor.setValue(codeArray[0].default_code);
                }
                else{
                    _Editor_Activity.editor.setValue(codeArray[0].default_without_main);
                }

                _Editor_Activity.editor.renderer.setScrollMargin(10, 10);

                // Applying code run configurations
                $('.code_run_ele').hide();
                if(enable_run){
                    $run_elements = $('.code_run_ele.run_'+lang_type.toLowerCase())
                    if($run_elements.length > 0){
                        $run_elements.show();
                    }
                    else{
                        $('.code_run_ele.run_default').show();
                    }
                }

                // Applying code copy paste configurations
                _Editor_Activity.editor.onCopy = _Editor_Activity.editor.onCut = _Editor_Activity.editor.onPaste = _Editor_Activity.editor.getCopyText = function() { return "" }
                if(enable_copy_paste){
                    _Editor_Activity.editor.getCopyText = copy_Paste_Methods.getCopyText;
                    _Editor_Activity.editor.onPaste = copy_Paste_Methods.onPaste;
                    _Editor_Activity.editor.onCut = copy_Paste_Methods.onCut;
                    _Editor_Activity.editor.onCopy = copy_Paste_Methods.onCopy;
                }
            },

            _toggle_Editor_Size : function(){
                let $window = $('.code-editor-con');
                let $button = $('#toggleEditorSize');

                if ($window.hasClass('fullscreenFrame')) {
                    $button.html('<i class="fa fa-expand"  aria-hidden="true"></i>');
                    $button.attr('title','Expand Editor');
                    $('body').css('overflow','visible');
                }
                else {

                    $button.html('<i class="fa fa-compress"  aria-hidden="true"></i>');
                    $button.attr('title','Shrink Editor');
                    $('body').css('overflow','hidden');
                }
                setTimeout(function() {
                    $window.toggleClass("fullscreenFrame");
                    _Editor_Activity.editor.resize();
                }, 100);
            },

            _init : function(){
                _Editor_Activity.editor = ace.edit("editor");
                copy_Paste_Methods = {
                    onCopy : _Editor_Activity.editor.onCopy,
                    onPaste : _Editor_Activity.editor.onPaste,
                    onCut : _Editor_Activity.editor.onCut,
                    getCopyText : _Editor_Activity.editor.getCopyText
                };
                _Editor_Activity._set_Editor();
                $('#themeChange').on('change', function() {
                    _Editor_Activity.editor.setTheme("ace/theme/"+this.value);
                });
                $('#languageChange').on('change', function() {
                    var code = _Editor_Activity.editor.getValue();
                    _Editor_Activity.last_Selected_Language=_Editor_Activity.current_Selected_Language;
                    codeArray[_Editor_Activity.last_Selected_Language].default_code=code;
                    codeArray[_Editor_Activity.last_Selected_Language].default_without_main=code;
                    if(_Editor_Ops.allow_main){
                        _Editor_Activity.editor.setValue(codeArray[this.value].default_code);
                    }
                    else{
                        _Editor_Activity.editor.setValue(codeArray[this.value].default_without_main);
                    }
                    _Editor_Activity.editor.session.setMode("ace/mode/"+codeArray[this.value].syntaxhighlightName);
                    _Editor_Activity.current_Selected_Language=this.value;
                });
                $('#fontChange').on('change', function() {
                    _Editor_Activity.editor.setOptions({
                        fontSize: this.value.toString()+'px',
                        enableBasicAutocompletion: true,
                        enableSnippets: true,
                        enableLiveAutocompletion: true
                    });
                });

                $('#toggleEditorSize').click(function(e){
                    e.stopPropagation();
                    _Editor_Activity._toggle_Editor_Size();
                });

                try{
                    var unitid="${question_details['unit_id']}";
                }
                catch(error){
                    var unitid=$('.xblock-student_view-vertical').attr('data-usage-id').split('block@')[1];
                }
                _Editor_Ops._changeEditor(unitid, 'NA');

            }

        };

        let _Editor_Ops = {
            subsection_id : "${question_details['subsection_id']}",
            clicked_Question : null,
            is_saved : false,
            is_Code_Changed : false,
            result_Snippets : {},
            allow_main : true,

            _saveCode : function(isSubmit = false , callback=null){
                let $button = $('#saveBtn'),
                $requestMsg = $('#savingMsg'),
                $responseMsg = $('#savedMsg')
                if(isSubmit){
                    $button = $('#submitBtn');
                    $requestMsg = $('#submittingMsg');
                    $responseMsg = $('#submittedMsg');
                }

                $('#saveBtn').prop('disabled', true);
                $('#submitBtn').prop('disabled', true);
                $requestMsg.css('display','inline');
                let course_id;
                console.log($(_Editor_Ops.question));
                console.log($(_Editor_Ops.unit));
                $.post("/save_snippet", {
                    question_id : $('.vert.vert-0').attr('data-id'),
                    unit_id : $('.xblock-student_view-vertical').attr('data-usage-id').split('block@')[1],
                    subsection_id : _Editor_Ops.subsection_id,
                    language : codeArray[$("#languageChange :selected").val()].language,
                    name : codeArray[$("#languageChange :selected").val()].filename,
                    content : _Editor_Activity.editor.getValue(),
                    snippet_id : $('#snippetid').attr('data-snippet-id'),
                    is_Submit : isSubmit
                },
                function(data, status) {
                    if (callback != null) callback();
                    if(data.success == true){
                        $('#snippetid').attr('data-snippet-id',data.snippet_id);
                        _Editor_Ops.is_Code_Changed = false;
                        _Editor_Ops.is_saved = true;
                        $responseMsg.css('display','inline');
                        $requestMsg.css('display','none');
                        if(isSubmit){
                            $('.top-nav-coding li.active').addClass('submitted');
                        }
                        else{
                            $('.top-nav-coding li.active').addClass('saved');
                        }
                        setTimeout(() => {
                            $responseMsg.css('display','none');
                            if(!isSubmit){
                                $('#saveBtn').prop('disabled', false);
                                $('#submitBtn').prop('disabled', false);
                            }
                        }, 10000);
                    }
                }).fail(function() {
                    $('.output-terminal').html("<div>Got unexpected response<div>");
                    $('#saveBtn').prop('disabled', false);
                    $('#submitBtn').prop('disabled', false);
                    $requestMsg.css('display','none');
                });

            },

            _runCode : function(){
                $(this).prop('disabled', true);
                $('.output-terminal').empty();
                $('.output-terminal').html("<div>Running.....<div>")
                var str = $('.code-footer input')[0].value;
                var input= str.replace(",", "\n");
                $.post("/run_snippet", {
                    name: codeArray[$("#languageChange :selected").val()].filename,
                    content: _Editor_Activity.editor.getValue(),
                    subsection_id : _Editor_Ops.subsection_id,
                    unit_id : $('.xblock-student_view-vertical').attr('data-usage-id').split('block@')[1],
                    language: codeArray[$("#languageChange :selected").val()].language,
                    stdin:input,
                    resultSnipptet:_Editor_Ops.result_Snippets[codeArray[$("#languageChange :selected").val()].language],
                    allow_main : _Editor_Ops.allow_main
                },
                function(data, status) {
                    $('#runBtn').prop('disabled', false);
                    var jsonRes=data;
                    if(!data) {
                        $('.output-terminal').html("<div>Got unexpected response<div>")
                    }
                    else if(jsonRes.ExamType=="DATABASE") {
                        if(!jsonRes.stderr){
                            try{
                                $('.output-terminal').html('<table class="result_table" style="white-space:nowrap;">'+data.stdout+'</table>');
                            }
                            catch(e){
                                $('.output-terminal').html(data.stdout);
                            }
                        }
                        else
                            $('.output-terminal').html("<div>"+jsonRes.stderr+"<div>")
                        }

                    else{
                        if(!jsonRes.stderr)
                            $('.output-terminal').html("<div>"+jsonRes.stdout+"<div>")
                        else
                            $('.output-terminal').html("<div>"+jsonRes.stderr+"<div>")
                    }
                }).fail(function() {
                    $('#runBtn').prop('disabled', false);
                    $('.output-terminal').html("<div>Got unexpected response<div>");
                });
            },

            _testCode : function(){
                $(this).prop('disabled', true);
                $('.output-terminal').empty();
                $('.output-terminal').html("<div>Testing.....<div>")
                var str = $('.code-footer input')[0].value;
                var input= str.replace(",", "\n");
                $.post("/run_testcases", {
                    name: codeArray[$("#languageChange :selected").val()].filename,
                    content: _Editor_Activity.editor.getValue(),
                    subsection_id : _Editor_Ops.subsection_id,
                    unit_id : $('.xblock-student_view-vertical').attr('data-usage-id').split('block@')[1],
                    language: codeArray[$("#languageChange :selected").val()].language,
                    stdin:input,
                    resultSnipptet:_Editor_Ops.result_Snippets[codeArray[$("#languageChange :selected").val()].language],
                    allow_main : _Editor_Ops.allow_main
                },
                function(data, status) {
                    $('#evalBtn').prop('disabled', false);
                    var jsonRes=data;
                    if(!data) {
                        $('.output-terminal').html("<div>Got unexpected response<div>")
                    }
                    else if(jsonRes.ExamType=="DATABASE") {
                        if(!jsonRes.stderr){
                            try{
                                $('.output-terminal').html('<table class="result_table" style="white-space:nowrap;">'+data.stdout+'</table>');
                            }
                            catch(e){
                                $('.output-terminal').html(data.stdout);
                            }
                        }
                        else
                            $('.output-terminal').html("<div>"+jsonRes.stderr+"<div>")
                        }

                    else{
                        if(!jsonRes.stderr)
                            $('.output-terminal').html("<div>"+jsonRes.stdout+"<div>")
                        else
                            $('.output-terminal').html("<div>"+jsonRes.stderr+"<div>")
                    }
                }).fail(function() {
                    $('#evalBtn').prop('disabled', false);
                    $('.output-terminal').html("<div>Got unexpected response<div>");
                });
            },

            _previewCode : function(){
                var doc = $('#result-Window')[0].contentWindow.document;
                doc.open();
                doc.write(_Editor_Activity.editor.getValue());
                doc.close();
                $('body').css('overflow','hidden');
                $('.outline_element').show();
            },

            _changeEditor : function(unitid, questionID){
                _Loader._show();
                $.post("/get_code_by_questionID" , {
                        unit_id : unitid,
                        subsection_id:$('.sequence').attr('data-id')
                    },
                    function(data, status)
                    {
                        if(data['is_coding']){
                            $('.codingSection').show();
                            $('.questionSection').addClass('col-lg-4');
                            $('#runBtn').prop('disabled', false);
                            $('#evalBtn').prop('disabled', false);
                            var question= $('.vert.vert-0').attr('data-id');
                            // Logic to call default save_code method for the first click of question
                            // if (questionlist.includes(question)===false)
                            //     {
                            //     questionlist.push(question);
                            //     // removing snippet id for inserting new record
                            //     $('#snippetid').attr('data-snippet-id','');
                            //     saveCode();
                            //     }
                            // Remove the language drop-down
                            $("#languageChange option").each(function()
                            {
                                this.remove();

                            });
                            $('.code-footer input').val('');
                            $('.output-terminal').html('');
                            //Add new language dropdown for selected unit
                            let coding_Languages= data['coding_Languages'];
                            let attempted_language = data['attempted_language'];

                            if (attempted_language != 'na')
                            {
                                let  index = coding_Languages.map(function(e) { return e.language; }).indexOf(attempted_language);
                                if (index != 0 || index != null ){
                                    [coding_Languages[index], coding_Languages[0]] = [coding_Languages[0], coding_Languages[index]];
                                }
                            }
                            coding_Languages.forEach((language , i)=>{
                                    $("#languageChange").append($('<option></option>').val(i).html(language['displayname']));
                                });

                            codeArray=coding_Languages;
                            _Editor_Activity._update_Settings(codeArray, data['enable_run'], data['enable_copy_paste'], data['language_type'], data['allow_main']);
                            _Editor_Ops.result_Snippets = data['resultSnippets'];
                            _Editor_Ops.allow_main = data['allow_main'];
                            // assign snippet-id for selected unit
                            $('#snippetid').attr('data-snippet-id',data['snippetid']);

                            // Disble save and submit button if already submitted.
                            if ((typeof(data['is_submit'])== 'boolean' && data['is_submit']) ||
                                (typeof(data['is_submit'])== 'string' && data['is_submit'].toLowerCase() === 'true'))  {

                                $('#saveBtn').prop('disabled', true);
                                $('#submitBtn').prop('disabled', true);
                            }
                            else{
                                $('#saveBtn').prop('disabled', false);
                                $('#submitBtn').prop('disabled', false);
                            }
                        }
                        else{
                            $('.codingSection').hide();
                            $('.questionSection').removeClass('col-lg-4');
                        }
                        _Loader._hide();
                    }
                )
            },

            _saveAndContinue: function(callback=null){
                // if (_Editor_Ops.is_Code_Changed && !$('#submitBtn').prop('disabled'))
                if (_Editor_Ops.is_Code_Changed)
                {
                    let message='Please save changes before switching the question';
                    // let option1=new Notification_Modal_Option(optionTitle='Cancel',functionDelegate= null);
                    let option1=new Notification_Modal_Option(optionTitle='Cancel',functionDelegate= function(hideModal=null){
                        codingQuestion = $("li.active")[0].outerText;
                        document.getElementById("saveCodingQuestionNumber").innerHTML = codingQuestion;
                        if(hideModal != null) hideModal(false);
                    });
                    let option2=new Notification_Modal_Option(optionTitle='Save & continue',functionDelegate= function(hideModal = null){
                        _Editor_Ops._saveCode(isSubmit=false , callback=callback);
                        if(hideModal != null) hideModal(false);
                    });
                    notification_manager.display_Decision(message,1,true,option1,option2,'OptionDialog');
                }
                else{
                  if (callback != null) callback();
                }
            },

            _saveAndEnd: function(){
                let message='Please save all changes before ending the exam';
                // let option1=new Notification_Modal_Option(optionTitle='Cancel',functionDelegate= null);
                let option1=new Notification_Modal_Option(optionTitle='Okay',functionDelegate = function(hideModal=null){
                        if(hideModal != null) hideModal(false);
                    });
                let option2=new Notification_Modal_Option(optionTitle='Save & End',functionDelegate = function(hideModal = null){
                        _Editor_Ops._saveCode(isSubmit=false , callback=callback);
                        if(hideModal != null) hideModal(false);
                    });
                notification_manager.display_Decision(message,1,true,option1,option2,'OptionDialog');
            },

            _fetchNextQuestion : function(hideModal=null){
                var unitid=$(_Editor_Ops.clicked_Question).attr('data-id').split('block@')[1];
                var questionID = $(_Editor_Ops.clicked_Question).attr('data-id');
                _Editor_Ops._changeEditor(unitid, questionID);
                try{
                    $('.main_links #tab_'+$(_Editor_Ops.clicked_Question).attr('data-index')).click();
                }
                catch(error){}
                $('.top-nav-coding li.activate_links').removeClass('active');
                $(_Editor_Ops.clicked_Question).addClass('active');
                _Editor_Ops.is_Code_Changed = false;
                if(hideModal) hideModal(false);
            },

            _init : function(){
                $("#runBtn").click(function(){
                    _Editor_Ops._runCode();
                });
                $("#evalBtn").click(function(){
                    _Editor_Ops._testCode();
                });
                $("#previewBtn").click(function(){
                    _Editor_Ops._previewCode();
                });
                $('#editor').keyup(function(e){
                    _Editor_Ops.is_Code_Changed=true;
                    _Editor_Ops.is_saved = false;
                    $('.top-nav-coding li.active').removeClass('saved');
                });
                $('#close-preview').click(function(){
                    $('.outline_element').hide();
                    if($('.fullscreenFrame').length == 0){
                        $('body').css('overflow','visible');
                    }
                });
                $("#saveBtn").click(function(){
                    _Editor_Ops._saveCode(isSubmit=false);
                });

                $("#toggleHint").click(function(){
                    let label = 'Hide';
                    if($('.devops_hint').toggle().css('display') == "none")
                        label = 'Show';
                    $(this).text(label+' Hint');
                });

                $("#toggleAnswer").click(function(){
                    let label = 'Hide';
                    if($('.devops_answer').toggle().css('display') == "none")
                        label = 'Show';
                    $(this).text(label+' Answer');
                });

                // $("#toggleTerminal").click(function(){
                //     $('.code-testcase').toggle(5, ()=>_Editor_Activity.editor.resize());
                //     $('#hide-show-icon').toggleClass('fa-angle-up');
                //     $('#hide-show-icon').toggleClass('fa-angle-down');
                // })

                $("#submitBtn").click(function(){
                    let message='No further changes could me made in the code. Are you sure you want to submit ?';
                    let option2=new Notification_Modal_Option(optionTitle='No',functionDelegate= null);
                    let option1=new Notification_Modal_Option(optionTitle='Yes',functionDelegate= function(hideModal = null){
                            _Editor_Ops._saveCode(isSubmit=true);
                            if(hideModal != null) hideModal(false);
                        });
                    notification_manager.display_Decision(message,1,true,option1,option2,'OptionDialog');
                });

                $('.top-nav-coding').on('click','li.activate_links',function(e)
                {
                    _Editor_Ops.clicked_Question = this;
                    _Editor_Ops._saveAndContinue(_Editor_Ops._fetchNextQuestion);
                });
                // $('#endExam').on('click',function(e)
                // {
                //     _Editor_Ops._saveAndEnd();
                // });
                $("#endExam").click(function(){
                    if (!_Editor_Ops.is_saved){
                        let message='Please save the code before ending the exam';
                        let option2=new Notification_Modal_Option(optionTitle='Cancel',functionDelegate= null);
                        let option1=new Notification_Modal_Option(optionTitle='Save',functionDelegate= function(hideModal = null){
                                _Editor_Ops._saveCode(isSubmit=false);
                                if(hideModal != null) hideModal(false);
                        });
                        notification_manager.display_Decision(message,1,true,option1,option2,'OptionDialog');
                    }
                    else {
                        $('#endExam1').click();
                    }
                });
            }
        };

        init : {
            $.getScript(ACE_URL1 , function() {
                $.getScript(ACE_URL2, function() {
                    _Editor_Activity._init();
                    _Editor_Ops._init();
                });
            });
        }

        return {
            warnIfUnsaved : _Editor_Ops._saveAndContinue
        }
    }

</script>
