<%inherit file="main.html" />
<div class="row col-lg-12">
    <div class="col-lg-6" style="width:60%;float:left">
        <center><h2></h2></center>
    </div>
    <div class="col-lg-6" style="width:40%;float:right">
        <a href="/dashboard" class="btn btn-primary btn-xs" style="float:right;font-size: 12px;font-weight: 600;">
            Back to Home
        </a>
    </div>
</div>
<script type='text/javascript' src='https://vyacta-report.pratian.com/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder row' style='width: 100%;'>
	<object class='tableauViz' width='1000' height='827' style='display:none;'>
		<param name='host_url' value='https%3A%2F%2Fvyacta-report.pratian.com%2F' /> 
		<param name='embed_code_version' value='3' /> 
		<param name='site_root' value='&#47;t&#47;PratianTechnologies' />
		<param name='name' value='BoschReports&#47;AssessmentDashboard' />
		<param name='tabs' value='no' />
		<param name='toolbar' value='no' />
		<param name='showAppBanner' value='false' />
		<param name='filter' value='iframeSizedToWindow=true' />
	</object>
</div>